.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardDeck {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px 0;
  z-index: 3;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  min-height: 200px;
  width: 250px;
  box-shadow: 0 0 5px #4B453E;
  margin: 20px;
  background-color: #f1ede9;
  border-radius: 5px;

  h3 {
    text-align: center;
  }

  hr {
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      &:hover {
        cursor: pointer;
      }

      &:hover .weight {
        display: none;
      }
      &:hover .arrow {
        display: block;
      }
    }
  }
}

.arrow {
  display: none;
}

.total {
  text-align: right;
}

.summary_cta {
  text-align: center;
  margin: 20px auto;

  a {
    background-color: #f07979;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 0 5px #4B453E;
    font-size: 20px;
  }
}

.customSelect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dd_toggler {
  cursor: pointer;
  background-color: #f0787a;
  box-shadow: 0 0 5px #4B453E;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
}

.airlineList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dd_item {
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 1px solid #f0787a;
  box-shadow: 0 0 5px #4B453E;
  border-radius: 50px;
  margin-top: 10px;
  cursor: pointer;
  &:hover{
    background-color: #e7dfd6;
  }
  &:not(:last-child){
    margin-right: 16px;
  }
}

.activeAirline {
  background-color: #5cc532;
  color: white;
  &:hover{
    background-color: #5cc532;
  }
}

.videoTag {
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 100vw;
  filter: brightness(0.4);
}